* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background: url("https://images.unsplash.com/photo-1531685250784-7569952593d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80") no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #fff;
  text-align: center;
  text-decoration: underline;
}

.input {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.input input {
  border: none;
  border-radius: 5px;
  height: 2rem;
  padding: 0 0.5rem;
  margin-right: 1rem;
  color: purple;
  background-color: rgba(255, 255, 255, 0.7);
}

#generate {
  border: none;
  border-radius: 5px;
  background-color: #7B1FA2;
  color: #fff;
  height: 2.5rem;
  padding: 0 1rem;
  cursor: pointer;
}

#generate:hover {
  background-color: #6A1B9A;
}

.output {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 2rem;
}

#number {
  font-size: 2rem;
  font-weight: bold;
  color: purple;
}

#error-message {
  color: red;
  margin-top: 1rem;
}

#credit {
  color:crimson;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: large;
}
